.row
  .span9
    .home-content
      h2 lorem ipsum
  .span3
    .home-sidenav
      ul.nav.nav-list
        li: a(href='#') something
        li: a(href='#') something else
        li: a(href='#') asdfksdjfdls
        li: a(href='#') welcome to the game