.row
  .span12
    .home-content
      .mix-info
        .mix-teams.clearfix
          ul.pull-left
            li red guys
            li(ng-repeat='player in mix.redteam')
              a(href='http://steamcommunity.com/profiles/{{player._id}}', target='_blank')
                img(ng-src="{{player.avatar}}")
                span &nbsp;{{player.name}} - {{player.class}} - {{player.rank}}
          ul.pull-right
            li blue guys
            li(ng-repeat='player in mix.bluteam')
              a(href='http://steamcommunity.com/profiles/{{player._id}}', target='_blank')
                img(ng-src="{{player.avatar}}")
                span &nbsp;{{player.name}} - {{player.class}} - {{player.rank}}
      p connect {{mix.server.ip}}; password {{mix.server.password}}
