.row
  .span9
    .content.nomove(ng-bind-html-unsafe="page.text")
  .span3
    .sidenav.nomove
      ul.nav.nav-list
        li(ng-repeat='page in pages', ng-class='{active: isActive($index)}')
          a(href='/page/{{page.slug}}') {{page.title}}