extends layout

block body
  audio#sound_player
  .navbar.navbar-inverse.navbar-fixed-top.nomove
    .navbar-inner
      .container
        - if (loggedIn)
          .classpicker-description
            span &larr;favorite
            span dbl click to select
            span least favorite&rarr;
          ul.nav.classpicker(ui-sortable, ui-jq='popover', data-trigger='manual', data-placement='bottom', data-content='You must select at least one class before you can add up!', ng-model='classes')
            li.class-icon(ng-cloak, ng-repeat='c in classes', ng-class="{'class-icon-deselected':!c.selected}", ng-dblclick='selectClass(c)', ng-style='getClassIcon(c)')
              | {{c.name}}
          .add-up(ng-cloak)
            button.btn(ng-style="buttonStyle", class='{{buttonClass}}', ng-click='addOrRemove()') {{buttonText}}
            br
            span(ng-show='added') You are {{queueOrd}} in the {{rank}} queue.
          .btn-group.pull-right
            a#profile-dropdown.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              span#profilename
                img(src='#{user.avatar}')
                | &nbsp;#{user.name} (#{user.rank})
              span.caret
            ul.dropdown-menu
              li
                a(href='#')
                  del Profile
              li.divider
              li
                a(href='/logout/', target='_self') Sign Out
        - else
          a.brand(href='/') Newbie Mix v0.
            sup 0.
              sup 0.
                sup 0.
                  sup 1
          .btn-group.pull-right
            .steamlogin
              a(href='/auth/steam', target='_self')
                img(src='/img/sits_small.png')
  #loading(ng-show='loading')
    .alert
      | Loading...
  .ui-modal.fade(ng-model="disconnected")
    .modal-header
      button(class='close', type='button', data-dismiss='modal') ×
      h1 You have been disconnected from the server.
    .modal-body
      p Either the server crashed, or you opened the site in a new tab.
    .modal-footer
      button(class='btn', data-dismiss='modal') Close
  //- Main Content
  .container(ng-view)