extends layout

block body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        //- ul.nav
          //- li(class='home', ng-class='{active:path()=="/"}')
          //-   a(href='/') Home
          //- li(class='about', ng-class='{active:path()=="/about"}')
          //-   a(href='/about') About
        - if (loggedIn)
          ul.nav(ui-sortable, ng-model='classes')
            li.class-icon(ng-cloak, ng-repeat='c in classes', ng-class="{'class-icon-deselected':!c.selected}", ng-dblclick='c.selected=!c.selected')
              | {{c.name}}
          button.add-up.btn.btn-large(ng-cloak, ng-style="buttonStyle", class='{{buttonClass}}', ng-click='addOrRemove()') {{buttonText}}
          //- Status updates:
          .btn-group.pull-right
            a#profiledropdown.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              span#profilename
                img(src='#{user.avatar}')
                | #{user.name}
              span.caret
            ul.dropdown-menu
              li
                a(href='#')
                  del Profile
              li.divider
              li
                a(href='/logout/', target='_self') Sign Out
          .user-counts.pull-right(ng-cloak, style='margin-right: 15px;')
            | users: {{userCounts.users}}<br />
            | noobs: {{userCounts.newbie}}<br />
            | coaches: {{userCounts.coach}}<br />
            | queue pos: {{queuePos}}
        - else
          a.brand(href='/') Newbie Mix v0.
            sup 0.
              sup 0.
                sup 0.
                  sup 1
          .btn-group.pull-right
            span#steamlogin
              a(href='/auth/steam', target='_self')
                img(src='/img/sits_small.png')
  #loading(ng-show='loading')
    .alert
      | Loading...
  //- Main Content
  .container(ng-view)