extends layout

block body
  .navbar.navbar-inverse.navbar-fixed-top.nomove
    .navbar-inner
      .container
        //- ul.nav
          //- li(class='home', ng-class='{active:path()=="/"}')
          //-   a(href='/') Home
          //- li(class='about', ng-class='{active:path()=="/about"}')
          //-   a(href='/about') About
        - if (loggedIn)
          .classpicker-description
            span.pull-left &larr;favorite
            span dbl click to ban
            span.pull-right least favorite&rarr;
          ul.nav.classpicker(ui-sortable, ng-model='classes')
            li.class-icon(ng-cloak, ng-repeat='c in classes', ng-class="{'class-icon-deselected':!c.selected}", ng-dblclick='c.selected=!c.selected', ng-style='getClassIcon(c)')
              | {{c.name}}
          button.add-up.btn(ng-cloak, ng-style="buttonStyle", class='{{buttonClass}}', ng-click='addOrRemove()') {{buttonText}}
          .btn-group.pull-right
            a#profiledropdown.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              span#profilename
                img(src='#{user.avatar}')
                | &nbsp;#{user.name}
              span.caret
            ul.dropdown-menu
              li
                a(href='#')
                  del Profile
              li.divider
              li
                a(href='/logout/', target='_self') Sign Out
          //- Status updates:
          .user-counts.pull-right(ng-cloak, style='margin-right: 15px;')
            | users: {{statusCounts.users}}<br />
            | noobs: {{statusCounts.newbie}}<br />
            | coaches: {{statusCounts.coach}}<br />
          .status-counts.pull-right(ng-cloak, style='margin-right: 12px;')
            | free servers: {{statusCounts.freeservers}}/{{statusCounts.servers}}<br />
            | position in #{user.rank} queue: {{queuePos}}
        - else
          a.brand(href='/') Newbie Mix v0.
            sup 0.
              sup 0.
                sup 0.
                  sup 1
          .btn-group.pull-right
            .steamlogin
              a(href='/auth/steam', target='_self')
                img(src='/img/sits_small.png')
  #loading(ng-show='loading')
    .alert
      | Loading...
  //- Main Content
  .container(ng-view)