doctype html
html(lang="en", ng-app="myApp")
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    base(href='/')
    title TF2 Newbie Mix
    link(rel='stylesheet', href='/css/bootstrap.css')
    - if (loggedIn)
      style.
        body {
          padding-top: 106px;
          padding-bottom: 86px;
        }
    - else
      style.
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
    link(rel='stylesheet', href='/css/style.css')
  body(ng-controller='MainCtrl')
    #container
      block body
    script( src='/socket.io/socket.io.js' )
    //- script( src='/js/vendor/jquery-2.1.4.min.js' )
    script( src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' )

    //- This is a custom build of jquery-ui, ONLY for sortable lists
    script( src='/js/vendor/jquery-ui-1.11.4.custom.js' )
    script( src='/js/vendor/underscore-min.js' )

    //- Load tf.js before angular or else sockets don't work???
    script.
      WSPORT="#{port}";
    script( src='/js/tf.js' )
    //- script( src='/js/vendor/angular.js' )
    //- script( src='/js/vendor/angular-route.js' )
    script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js' )
    script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.js' )
    script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-sanitize.js' )

    //- Angular-UI for jQuery Passthrough (sortable)
    script( src='/js/vendor/ui-sortable-0.13.3.js' )
    script( src='/js/vendor/ui-jq-0.2.3.js' )
    script( src='/js/vendor/ui-modal.js' )
    script( src='/js/vendor/bootstrap.js' )
    script( src='/js/vendor/jquery.keylisten.js' )
    script( src='/js/vendor/jquery.transform.light.js' )
    script( src='/js/app.js' )
    script( src='/js/controllers.js' )
    script( src='/js/services.js' )
