[ng-cloak],
.ng-cloak {
  display: none;
}
body {
  background: #c7ced1 url("/img/noise.png") repeat;
}
#container {
  position: relative;
  -webkit-backface-visibility: hidden;
}
#loading {
  position: fixed;
  z-index: 9999;
  width: 100%;
}
#loading .alert {
  position: relative;
  display: inline;
  padding: 8px 14px;
  left: 50%;
  margin-left: -46px;
}
.caret {
  margin: 13px 0 0 1px !important;
}
.add-up {
  position: absolute;
  left: 50%;
  margin-left: -42px;
}
.classpicker-description {
  text-align: center;
  position: absolute;
  top: 65px;
  width: 340px;
}
.classpicker-description span {
  font-size: 10px;
}
.classpicker {
  height: 82px;
}
.class-icon,
.placeholder {
  width: 64px;
  height: 64px;
  margin: 6px 2px;
  text-align: center;
  color: #fff;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px #000;
}
.class-icon {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.class-icon-deselected {
  opacity: 0.4;
}
.home-sidenav {
  background-color: whiteSmoke;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.home-sidenav li a {
  border: 1px solid #e5e5e5;
  padding: 8px 14px;
  margin: 0px -15px -1px -15px;
}
.home-sidenav li:first-child a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.home-sidenav li:last-child a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.home-content {
  padding: 24px;
  min-height: 200px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.mix-info {
  background-color: #fff;
  text-align: center;
}
.mix-info ul {
  list-style: none;
  display: inline-block;
}
.sprite {
  position: absolute;
}
.sprite .bubble {
  position: absolute;
  left: -15px;
  width: 253px;
  max-height: 70px;
  border-width: 21px 20px 42px 21px;
  padding: 5px;
  display: none;
  overflow-y: auto;
  white-space: pre-wrap;
  line-height: 125%;
}
.sprite ::-webkit-scrollbar {
  width: 1ex;
}
.sprite ::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0,0,0,0.2);
}
.sprite .textarea-container {
  overflow: hidden;
  position: relative;
}
.sprite .textarea-container textarea {
  position: absolute;
  left: -100px;
  width: 80px;
}
