body {
  background: #c7ced1 url("/img/noise.png") repeat;
}
#container {
  position: relative;
  -webkit-backface-visibility: hidden;
}
.add-up {
  position: absolute;
  left: 50%;
  margin-left: -42px;
}
.sprite {
  position: absolute;
}
.sprite .bubble {
  position: absolute;
  left: -15px;
  width: 253px;
  max-height: 70px;
  border-width: 21px 20px 42px 21px;
  padding: 5px;
  display: none;
  overflow-y: auto;
  white-space: pre-wrap;
  line-height: 125%;
}
.sprite ::-webkit-scrollbar {
  width: 1ex;
}
.sprite ::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0,0,0,0.2);
}
.sprite .textarea-container {
  overflow: hidden;
  position: relative;
}
.sprite .textarea-container textarea {
  position: absolute;
  left: -100px;
  width: 80px;
}
